[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
mirageframework = {git = "https://github.com/shotastage/mirageframework.git"}

[dev-packages]
pylint = "*"
django-mirage = "*"

[requires]
python_version = "3.7"
